[Desktop Entry]
Version=1.0
Exec=/home/mfp/am3xtest/linux/am3xtest.sh
Name=am3xtest
GenericName=am3xtest
Comment=am3xtest
Encoding=UTF-8
Terminal=true
Type=Application
Categories=Application
